<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Список оборудования</h2>

        <span th:unless="${bag.getEquipments().size() > 0}">Ваша сумка не собрана</span>
        <table id="equipments" class="table table-hover" cellspacing="0" width="100%" th:if="${bag.equipments.size() > 0}">
            <thead>
            <tr>
                <th>Название оборудования</th>
                <th>Заводской номер</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b : ${bag.getEquipments()}">
                <td th:text="${b.getName()}"></td>
                <td th:text="${b.getFactoryNumber()}"></td>
            </tr>
            </tbody>
        </table>

            <form class="form-group" th:action="@{/equipments_guest}">
                <button type="submit" class="btn btn-primary">Положить в сумку</button>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#equipments').DataTable();
    });
</script>

</body>
</html>