<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4" th:if="${edit}" >Изменить оборудлвание</h2>
        <h2 class="mb-4" th:if="${create}" >Создать оборудлвание</h2>

        <form th:object="${equipment}" method="post" th:action="@{/admin/equipment}">
            <div class="card mb-4">
                <div class="card-body">
                    <input th:type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="name">Название оборудование</label>
                        <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Введите название и тип оборудования" required>
                    </div>
                    <div class="form-group">
                        <label for="inventoruNumber">Инвентарный номер</label>
                        <input th:field="*{inventoruNumber}" type="text" class="form-control" id="inventoruNumber" placeholder="Введите инвентарный номер" required>
                    </div>
                    <div class="form-group">
                        <label for="factoryNumber">Заводской номер</label>
                        <input th:field="*{factoryNumber}" type="text" class="form-control" id="factoryNumber" placeholder="Введите заводской номер" required>
                    </div>
                    <div class="form-group">
                        <label for="verificationNumber">Номер поверки</label>
                        <input th:field="*{verificationNumber}" type="text" class="form-control" id="verificationNumber" placeholder="Введите номер поверки">
                    </div>
                    <div class="form-group">
                        <label for="verificationDate">Дата поверки</label>
                        <input th:field="*{verificationDate}" type="date" class="form-control" id="verificationDate" placeholder="Введите дату окончания поверки">
                    </div>
                    <div class="form-group">
                        <label for="verificationDateEnd">Дата окончания поверки</label>
                        <input th:field="*{verificationDateEnd}" type="date" class="form-control" id="verificationDateEnd" placeholder="Введите дату окончания поверки">
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>