<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Список оборудования</h2>

        <div class="card mb-4">

            <div class="card-body">
                <form class="form-group" th:action="@{/admin/equipment/create}">
                    <button type="submit" class="btn btn-primary">Создать новое оборудование</button>
                </form>

                <table id="equipment" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Название оборудования</th>
                        <th>Инвентарный номер</th>
                        <th>Заводской номер</th>
                        <th>Номер поверки</th>
                        <th>Дата поверки</th>
                        <th class="actions">Изменения</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="equ : ${equipment}">
                        <td th:text="${equ.id}"></td>
                        <td th:text="${equ.name}"></td>
                        <td th:text="${equ.inventoruNumber}"></td>
                        <td th:text="${equ.factoryNumber}"></td>
                        <td th:text="${equ.verificationNumber}"></td>
                        <td th:text="${equ.verificationDate}"></td>
                        <td>
                            <a th:href="@{/equipment/{id}/edit(id=${equ.id})}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                            <form th:action="@{/equipment/{id}/delete(id=${equ.id})}" th:method="delete" class="d-inline">
                                <button class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete">
                                    <i class="fa fa-fw fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#equipment').DataTable();
    });
</script>

</body>
</html>