<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header_guest :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header_guest :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar_guest :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Список оборудования</h2>

        <div class="card mb-4">

            <div class="card-body">

                <table id="equipments" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Название оборудования</th>
                        <th>Инвентарный номер</th>
                        <th>Заводской номер</th>
                        <th>Номер поверки</th>
                        <th>Дата поверки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="equ : ${equipments}">
                        <td th:text="${equ.id}"></td>
                        <td th:text="${equ.name}"></td>
                        <td th:text="${equ.inventoruNumber}"></td>
                        <td th:text="${equ.factoryNumber}"></td>
                        <td th:text="${equ.verificationNumber}"></td>
                        <td th:text="${equ.verificationDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form class="form-group" th:action="@{/equipment/group}">
                <button type="submit" class="btn btn-primary">Положить в сумку</button>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/footer_guest :: scripts"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#equipment').DataTable();
    });
</script>

</body>
</html>